<!DOCTYPE html>
<html>
<head>
    <title>Vue Test</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <h1>Vue Test Page</h1>
        <p>Default delimiters: {{ message }}</p>
        <p>Custom delimiters: [[ message ]]</p>
        <p>Active Tab: [[ activeTab ]]</p>
        <button @click="activeTab = 'test'">Change Tab</button>
    </div>

    <script>
    const { createApp } = Vue;
    
    // Test with custom delimiters
    createApp({
        delimiters: ['[[', ']]'],
        data() {
            return {
                message: 'Vue is working!',
                activeTab: 'monitor'
            }
        }
    }).mount('#app');
    </script>
</body>
</html>